<div class="container">
	<div class="header"> 
		<h1>Show product</h1>
	</div>

	<div class="leftcol">
		<b><%= @product.name %></b> <br/>
		<b>Price:</b> <%=h @product.price %>
		</p>
		<div class="navi">
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%= link_to 'Back', products_path %>
		</div>
	</div>

	<div class="content">
		<% @product.photos.each do |photo| %>
	 		<div class="thumbnail">
	 		   <%= image_tag photo.data.url(:small) %>
			</div>
		<% end %>
	</div>
</div>
